<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success!!!</title>
</head>
<body>
<h1>Email!</h1>
    {% if messages %}
            <ul class="messages">
        {% for msg in messages %}
    <li>
    <div class="alert alert-{{msg.25_success}}" role="alert">
            {{msg.message}}
    </div>
    </li>
        {% endfor %}
    </ul>
        {% endif %}
    {% for email_val in email_vals %}
        <p>{{email_val.email}} {{email_val.created_at}}</p>
    {% endfor %}
</body>
</html>
